nav {
  position: fixed;
  top: 100vh;
  background-color: #333;
  height: 100vh;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  z-index: 2;
  transition: top 0.5s;
}

.nav-top {
  top: 0;
}

nav .image {
  border: 7px solid #1e1e1e;
  padding: 7px;
  background-color: #a2a2a2;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  display: flex;
  margin: 20px auto;
}

nav .image img {
  border-radius: 50%;
  max-width: 100%;
}

nav li {
  margin: 20px 0;
}
nav ul a {
  padding: 10px 30px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color: White;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

nav ul a:hover,
nav ul a.active {
  background-color: #11abb0;
}
