nav {
  position: fixed;
  top: 100vh;
  background-color: #333;
  height: 100vh;
  min-width: 20px;
  display: flex;
  flex-direction: column;
  z-index: 100;
  transition: top 0.5s;
}

.nav-top {
  top: 0;
}

nav .image {
  padding: 7px;
  background-color: var(--SecondColor);
  border-radius: 50%;
  height: 150px;
  width: 150px;
  display: flex;
  margin: 20px auto;
}

nav .image img {
  border-radius: 50%;
  max-width: 100%;
}

nav li {
  margin: 20px 0;
}
nav ul a {
  padding: 10px 30px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #eee;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

nav ul a:hover,
nav ul a.active {
  background-color: #1e1e1e;
}

@media (max-width: 568px) {
  nav .image {
    padding: 5px;
    height: 120px;
    width: 120px;
    margin: 10px auto;
  }

  nav li {
    margin: 10px 0;
  }
  nav ul a {
    padding: 5px 20px;
    font-size: 1.2rem;
    gap: 5px;
  }
}
