.bars-icon {
  position: fixed;
  top: 30px;
  left: 30px;
  z-index: 6;
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
  transition: all 0.5s;
}

.bars-icon div {
  width: 50px;
  height: 3px;
  background-color: white;
  transition: all 0.5s;
}
.bars-icon-op {
  left: 230px;
}

.bars-icon-d-one {
  transform: rotate(45deg);
}
.bars-icon-d-two {
  opacity: 0;
}
.bars-icon-d-three {
  transform: rotate(-45deg) translate(16px, -16px);
}

@media (max-width: 568px) {
  .bars-icon {
    gap: 7px;
  }
  .bars-icon div {
    width: 35px;
    height: 2px;
  }

  .bars-icon-op {
    left: 180px;
  }

  .bars-icon-d-three {
    transform: rotate(-45deg) translate(12px, -12px);
  }
}
