:root {
  --bgColorGrad: linear-gradient(
    to right top,
    #0085e4,
    #00a2e5,
    #00b9cc,
    #00c9a7
  );
  --SecondColor: #673ab7;
  --PrimaryColor: #2196f3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
}

body::-webkit-scrollbar {
  width: 7px;
  transition: all 0.3s;
}

body::-webkit-scrollbar-track {
  background-color: #333;
}

body:hover::-webkit-scrollbar-thumb {
  background-color: var(--PrimaryColor);
}

body::-webkit-scrollbar-thumb:hover {
  background-color: var(--PrimaryColor);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.overlay {
  position: fixed;
  background-color: #0000009d;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.container {
  position: relative;
  max-width: 88%;
  z-index: 5;
  margin: auto;
}
